<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Margarita</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="static/css/bootstrap.min.css" rel="stylesheet">
	<style>
		body {
			padding-top: 60px;
		}
		body,
		button,
		.btn-group > .btn,
		.btn-group > .dropdown-menu {
			/* bootstrap changed default font size; change it back */
			font-size: 13px;
		}
		#updates,
		#paginator {
			margin-bottom: 1em;
		}
		a.toggle-info {
			color:black;
		}
	</style>
	<link href="static/css/bootstrap-responsive.min.css" rel="stylesheet">
	<link href="static/css/backgrid.min.css" rel="stylesheet" />
	<link href="static/css/backgrid-paginator.min.css" rel="stylesheet" />

	<style>
		.backgrid th {
			text-align: left;
		}
		/* allow for drop-down menus in the branch header cells */
		.backgrid th.branch-header {
			overflow: visible;
		}
		#vw-grid-footer-td {
			text-align:center;
		}
	</style>


	<script src="static/js/json2.js"></script>
	<script src="static/js/jquery.min.js"></script>
</head>
<body>

<!-- Layouts, Regions, and Views -->

<div id="navbarRegion"></div>

<div class="container">

	<div id="updates"></div>
	<div id="paginator"></div>

	<div id="newbranch" style="text-align:right;" class="well form-inline">
		<input type="text" id="branchname" class="input-medium" placeholder="New branch name...">
		<button id="newbranchbtn" class="btn btn-primary">Create New Branch</button>
	</div>

</div>

<div class="modal fade" id="rgn-modal-update" tabindex="-1" role="dialog">

<!-- Templates -->

<script id="vw-modal-update" type="text/html">
<div class="modal-dialog">
<div class="modal-content">
	<div class="modal-header">
		<button type="button" class="close closeAction" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<h4 class="modal-title" title="<%= id %>"><%= title %></h4>
	</div>

	<div class="modal-body">
		<p>
			<% if (depr) { %>
				<span title="Deprecated update product" class="label label-warning">Deprecated</span>
				<br>
			<% } %>
			<% _.each(oscatalogs, function(osver) { %>
				<span class="label label-info"><%= osver %></span>
			<% }) %>
			<br>
			Product ID:
			<strong><span style="font-family:monospace"><%= id %></span></strong>
			<br>
			Post Date: <%= PostDate %>
			<br>
			Config-Data:
			<% if (fetchingconfig == true) { %>
				<em>Checking...</em>
			<% } else { %>
				<% if (configdata == true) { %>
					<span class="label label-warning">Yes</span>
					&mdash;
					<button type="button" class="btn btn-mini btn-danger removeConfigDataAction">
						<span class="icon-white icon-remove"></span>
						Remove
					</button>
				<% } else if (configdata == false) { %>
					<span class="label label-info">No</span>
				<% } else { %>
					<em>Unknown</em>
				<% } %>
			<% } %>
			<br>
			<br>
			<% _.each(packages, function(pkg) { %>
				<a class="btn btn-mini btn-success" href="<%= pkg.url %>">
					<span class="icon-white icon-download"></span>
					<%= pkg.url.substring(pkg.url.lastIndexOf('/') + 1) %>
					(<%= datasize(pkg.size) %>)
				</a>
			<% }) %>
		</p>
		<hr>
		<% if (description) { %>
		<p><%= description %></p>
		<% } else { %>
		<p><em>(No description)</em></p>
		<% } %>
	</div>

	<div class="modal-footer">
		<button type="button" class="btn btn-default closeAction">Close</button>
	</div>
</div>
</div>
</script>

<script id="navbarLayout" type="text/html">
<div class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>

			<span class="brand">Margarita</span>

			<div class="nav-collapse">
				<ul class="nav">
					<li id="queuedChangesButtonViewRegion"></li>
					<li id="toggleHideCommonButtonViewRegion"></li>
				</ul>

				<div id="rgn-search"></div>
			</div>
		</div>
	</div>
</div>
</script>

<script id="vw-search" type="text/html">
<form class="navbar-search pull-right">
	<input type="text" class="search-query" placeholder="Filter...">
</form>
</script>

<script id="queuedChangesBtnViewTpl" type="text/html">
<span>Apply queued changes <span id="queueCount" class="badge <% if (items.length > 0) { %>badge-info<% } else { %>badge-inverse<% } %>"><%= items.length %></span></span>
</script>

<script id="toggleHideCommonBtnViewTpl" type="text/template">
<i class="icon-white<% if (hideCommon) { %> icon-ok<% } %>"></i> <span>Hide commonly listed updates</span>
</script>

<script id="span12-progress-bar" type="text/html">
<div class="progress progress-striped active">
	<div class="bar" style="width: 100%;"></div>
</div>
</script>

<script id="cell-apple-branch" type="text/html">
<% if (depr) { %>
	<button disabled class="btn btn-mini disabled">
		<i class="icon-remove icon-white"></i> Unlisted
	</button>
<% } else { %>
	<button disabled class="btn btn-mini btn-primary disabled">
		<i class="icon-ok icon-white"></i> Listed
	</button>
<% } %>
</script>

<script id="cell-product" type="text/html">
	<a href="#" class="toggle-info" title="Product ID: <%= id %>"><%= title %></a>
	<% if (depr) { %>
		<span title="Deprecated update product" class="label label-warning">D</span>
	<% } %>
	<% if (configdata) { %>
		<span title="Product marked as config-data" class="label label-warning">C</span>
	<% } %>
	<% if (oscatalogs.length > 2) { %>
		<span class="label label-info"><%= oscatalogs[0] %></span>
		&mdash;
		<span class="label label-info"><%= oscatalogs[oscatalogs.length - 1] %></span>
	<% } else { %>
		<% _.each(oscatalogs, function(osver) { %>
			<span class="label label-info"><%= osver %></span>
		<% }) %>
	<% } %>
	<button class="toggle-info btn btn-mini" style="float:right;"><i class="icon-info-sign"></i></button>
</script>

<script id="cell-header-branch" type="text/html">
	<div class="btn-group">
		<button class="btn dropdown-toggle" data-toggle="dropdown">
			<strong><%= branch %></strong> branch <span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
			<li><a class="addAllProductsMenuSel" data-branch="<%= branch %>" href="#"> Add <strong>all</strong> products</a></li>
			<li class="divider"></li>
			<li><a class="duplicateAppleBranch" data-branch="<%= branch %>" href="#">Duplicate <strong>Apple direct</strong> branch</a></li>
			<% _.each(branches, function(dupbranch) { %>
				<% if (dupbranch != branch) { %>
				<li><a class="duplicateBranch" href="#" data-branch="<%= branch %>" data-dupbranch="<%= dupbranch %>">Duplicate <strong><%= dupbranch %></strong> branch</a></li>
				<% } %>
			<% }) %>
			<li class="divider"></li>
			<li><a class="deleteBranchMenuSel" data-branch="<%= branch %>" style="color:red;" href="#"> Delete branch</a></li>
		</ul>
	</div>
</script>

<script id="cell-branch" type="text/html">
<% if (_.indexOf(branches, cellBranch) > -1) { %>
	<% if (_.indexOf(queued, cellBranch) > -1) { %>
		<button
			data-branch="<%= cellBranch %>"
			class="btn btn-mini btn-info button-listed">
				<i class="icon-minus-sign icon-white"></i> <span>Delisting queued</span>
		</button>
	<% } else { %>
		<button
			data-branch="<%= cellBranch %>"
			class="btn btn-mini btn-success button-listed">
				<i class="icon-ok icon-white"></i> <span>Listed</span>
		</button>
	<% } %>
<% } else { %>
	<% if (_.indexOf(queued, cellBranch) > -1) { %>
		<button
			data-branch="<%= cellBranch %>"
			class="btn btn-mini btn-info button-unlisted">
				<i class="icon-plus-sign icon-white"></i> <span>Listing queued</span>
		</button>
	<% } else { %>
		<button
			data-branch="<%= cellBranch %>"
			class="btn btn-mini button-unlisted">
				<i class="icon-remove"></i> <span>Unlisted</span>
		</button>
	<% } %>
<% } %>
</script>

<script id="vw-grid-footer" type="text/html">
<tr>
	<td id="vw-grid-footer-td" class="renderable" colspan="<%= colspan %>">
		<span title="Showing <%= page %> updates on this page of <%= showing %> updates in this list of <%= total %> total updates">
			Showing <%= showing %> of <%= total %> updates
			<% if (showing < 1 && total >= 1) { %>
				<strong>(common updates likely hidden and/or no branches exist)</strong>
			<% } %>
		</span>
	</td>
</tr>
</script>

<!-- Includes -->

	<script src="static/js/underscore-min.js"></script>
	<script src="static/js/backbone-min.js"></script>
	<script src="static/js/backbone.wreqr.min.js"></script>
	<script src="static/js/backbone.babysitter.min.js"></script>
	<script src="static/js/backbone.marionette.min.js"></script>
	<script src="static/js/backbone-pageable.min.js"></script>
	<script src="static/js/backgrid.min.js"></script>
	<script src="static/js/backgrid-paginator.min.js"></script>
	<script src="static/js/margarita.js"></script>
	<script src="static/js/bootstrap.min.js"></script>
</body>
</html>
