<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Margarita</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="static/css/bootstrap.min.css" rel="stylesheet">
	<style>
		body {
			padding-top: 60px;
		}
	</style>
	<link href="static/css/bootstrap-responsive.min.css" rel="stylesheet">

	<script src="static/js/json2.js"></script>
	<script src="static/js/jquery.min.js"></script>
</head>
<body>

<!-- Layouts, Regions, and Views -->

<div id="navbarRegion"></div>

<div class="container">

	<div id="updates"></div>

	<div id="newbranch" style="text-align:right;" class="well form-inline">
		<input type="text" id="branchname" class="input-medium" placeholder="New branch name...">
		<button id="newbranchbtn" class="btn btn-primary">Create New Branch</button>
	</div>

</div>

<!-- Templates -->

<script id="navbarLayout" type="text/html">
<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>

			<span class="brand">Margarita</span>

			<div class="nav-collapse">
				<ul class="nav">
					<li id="queuedChangesButtonViewRegion"></li>
					<li id="toggleHideCommonButtonViewRegion"></li>
				</ul>
			</div>
		</div>
	</div>
</div>
</script>

<script id="queuedChangesBtnViewTpl" type="text/html">
<span>Apply queued changes <span id="queueCount" class="badge <% if (items.length > 0) { %>badge-info<% } else { %>badge-inverse<% } %>"><%= items.length %></span></span>
</script>

<script id="toggleHideCommonBtnViewTpl" type="text/template">
<i class="icon-white<% if (hideCommon) { %> icon-ok<% } %>"></i> <span>Hide commonly listed updates</span>
</script>

<script id="update-table" type="text/html">
<thead>
<tr>
	<th>Software Update Product</th>
	<th>Version</th>
	<th>Post Date</th>
	<th>Apple branch</th>

	<% _.each(branches, function(b) { %>
	<th><%= b %> branch</th>
	<% }) %>
</tr>
</thead>
<tbody></tbody>
</script>

<script id="span12-progress-bar" type="text/html">
<div class="progress progress-striped active">
	<div class="bar" style="width: 100%;"></div>
</div>
</script>

<script id="update-row" type="text/template">
<td>
	<span title="Product ID: <%= id %>"><%= title %></span>
	<% if (depr) { %>
		<span class="label label-warning">Deprecated</span>
	<% } %>
</td>
<td><%= version %></td>
<td><%= PostDate %></td>
<td>
<% if (depr) { %>
	<button disabled class="btn btn-mini disabled">
		<i class="icon-remove icon-white"></i> Unlisted
	</button>
<% } else { %>
	<button disabled class="btn btn-mini btn-primary disabled">
		<i class="icon-ok icon-white"></i> Listed
	</button>
<% } %>
</td>

<% _.each(branches, function(branch) { %>

<td>
<% if (branch.listed) { %>
	<% if (branch.queued) { %>
		<button
			data-branch="<%= branch.name %>"
			class="btn btn-mini btn-info button-listed">
				<i class="icon-minus-sign icon-white"></i> <span>Delisting queued</span>
		</button>
	<% } else { %>
		<button
			data-branch="<%= branch.name %>"
			class="btn btn-mini btn-success button-listed">
				<i class="icon-ok icon-white"></i> <span>Listed</span>
		</button>
	<% } %>
<% } else { %>
	<% if (branch.queued) { %>
		<button
			data-branch="<%= branch.name %>"
			class="btn btn-mini btn-info button-unlisted">
				<i class="icon-plus-sign icon-white"></i> <span>Listing qeueued</span>
		</button>
	<% } else { %>
		<button
			data-branch="<%= branch.name %>"
			class="btn btn-mini button-unlisted">
				<i class="icon-remove"></i> <span>Unlisted</span>
		</button>
	<% } %>
<% } %>
</td>

<% }) %>

</script>

<!-- Includes -->

	<script src="static/js/underscore-min.js"></script>
	<script src="static/js/backbone-min.js"></script>
	<script src="static/js/backbone.eventbinder.js"></script>
	<script src="static/js/backbone.wreqr.js"></script>
	<script src="static/js/backbone.marionette.min.js"></script>
	<script src="static/js/margarita.js"></script>
	<script src="static/js/bootstrap.min.js"></script>
</body>
</html>
