<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Margarita</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="static/css/bootstrap.min.css" rel="stylesheet">
	<style>
		body {
			padding-top: 60px;
		}
		body,
		button,
		.btn-group > .btn,
		.btn-group > .dropdown-menu {
			/* bootstrap changed default font size; change it back */
			font-size: 13px;
		}
		#updates,
		#paginator {
			margin-bottom: 1em;
		}
	</style>
	<link href="static/css/bootstrap-responsive.min.css" rel="stylesheet">
	<link href="static/css/backgrid.min.css" rel="stylesheet" />
	<link href="static/css/backgrid-paginator.min.css" rel="stylesheet" />

	<style>
		.backgrid th {
			text-align: left;
		}
		/* allow for drop-down menus in the branch header cells */
		.backgrid th.branch-header {
			overflow: visible;
		}
	</style>


	<script src="static/js/json2.js"></script>
	<script src="static/js/jquery.min.js"></script>
</head>
<body>

<!-- Layouts, Regions, and Views -->

<div id="navbarRegion"></div>

<div class="container">

	<div id="updates"></div>
	<div id="paginator"></div>

	<div id="newbranch" style="text-align:right;" class="well form-inline">
		<input type="text" id="branchname" class="input-medium" placeholder="New branch name...">
		<button id="newbranchbtn" class="btn btn-primary">Create New Branch</button>
	</div>

</div>

<!-- Templates -->

<script id="navbarLayout" type="text/html">
<div class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>

			<span class="brand">Margarita</span>

			<div class="nav-collapse">
				<ul class="nav">
					<li id="queuedChangesButtonViewRegion"></li>
					<li id="toggleHideCommonButtonViewRegion"></li>
				</ul>

				<div id="rgn-search"></div>
			</div>
		</div>
	</div>
</div>
</script>

<script id="vw-search" type="text/html">
<form class="navbar-search pull-right">
	<input type="text" class="search-query" placeholder="Filter...">
</form>
</script>

<script id="queuedChangesBtnViewTpl" type="text/html">
<span>Apply queued changes <span id="queueCount" class="badge <% if (items.length > 0) { %>badge-info<% } else { %>badge-inverse<% } %>"><%= items.length %></span></span>
</script>

<script id="toggleHideCommonBtnViewTpl" type="text/template">
<i class="icon-white<% if (hideCommon) { %> icon-ok<% } %>"></i> <span>Hide commonly listed updates</span>
</script>

<script id="span12-progress-bar" type="text/html">
<div class="progress progress-striped active">
	<div class="bar" style="width: 100%;"></div>
</div>
</script>

<script id="vw-update-description" type="text/html">
<td colspan="<%= branches.length + 5 %>">
	<div class="well" style="margin:0;">
		<p><%= description %></p>
		<hr>
		<p>
			<strong>
				Product ID:
				<span style="font-family:monospace"><%= id %></span>
			</strong>
		</p>
	</div>
</td>
</script>

<script id="cell-apple-branch" type="text/html">
<% if (depr) { %>
	<button disabled class="btn btn-mini disabled">
		<i class="icon-remove icon-white"></i> Unlisted
	</button>
<% } else { %>
	<button disabled class="btn btn-mini btn-primary disabled">
		<i class="icon-ok icon-white"></i> Listed
	</button>
<% } %>
</script>

<script id="cell-product" type="text/html">
	<span title="Product ID: <%= id %>" class="info-toggle"><%= title %></span>
	<% if (depr) { %>
		<span class="label label-warning">Deprecated</span>
	<% } %>
</script>

<script id="cell-header-branch" type="text/html">
	<div class="btn-group">
		<button class="btn dropdown-toggle" data-toggle="dropdown">
			<strong><%= branch %></strong> branch <span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
			<li><a class="addAllProductsMenuSel" data-branch="<%= branch %>" href="#"> Add <strong>all</strong> products</a></li>
			<li class="divider"></li>
			<li><a class="duplicateAppleBranch" data-branch="<%= branch %>" href="#">Duplicate <strong>Apple direct</strong> branch</a></li>
			<% _.each(branches, function(dupbranch) { %>
				<% if (dupbranch != branch) { %>
				<li><a class="duplicateBranch" href="#" data-branch="<%= branch %>" data-dupbranch="<%= dupbranch %>">Duplicate <strong><%= dupbranch %></strong> branch</a></li>
				<% } %>
			<% }) %>
			<li class="divider"></li>
			<li><a class="deleteBranchMenuSel" data-branch="<%= branch %>" style="color:red;" href="#"> Delete branch</a></li>
		</ul>
	</div>
</script>

<script id="cell-branch" type="text/html">
<% if (_.indexOf(branches, cellBranch) > -1) { %>
	<% if (_.indexOf(queued, cellBranch) > -1) { %>
		<button
			data-branch="<%= cellBranch %>"
			class="btn btn-mini btn-info button-listed">
				<i class="icon-minus-sign icon-white"></i> <span>Delisting queued</span>
		</button>
	<% } else { %>
		<button
			data-branch="<%= cellBranch %>"
			class="btn btn-mini btn-success button-listed">
				<i class="icon-ok icon-white"></i> <span>Listed</span>
		</button>
	<% } %>
<% } else { %>
	<% if (_.indexOf(queued, cellBranch) > -1) { %>
		<button
			data-branch="<%= cellBranch %>"
			class="btn btn-mini btn-info button-unlisted">
				<i class="icon-plus-sign icon-white"></i> <span>Listing qeueued</span>
		</button>
	<% } else { %>
		<button
			data-branch="<%= cellBranch %>"
			class="btn btn-mini button-unlisted">
				<i class="icon-remove"></i> <span>Unlisted</span>
		</button>
	<% } %>
<% } %>
</script>

<!-- Includes -->

	<script src="static/js/underscore-min.js"></script>
	<script src="static/js/backbone-min.js"></script>
	<script src="static/js/backbone.wreqr.min.js"></script>
	<script src="static/js/backbone.babysitter.min.js"></script>
	<script src="static/js/backbone.marionette.min.js"></script>
	<script src="static/js/backbone-pageable.min.js"></script>
	<script src="static/js/backgrid.min.js"></script>
	<script src="static/js/backgrid-paginator.min.js"></script>
	<script src="static/js/margarita.js"></script>
	<script src="static/js/bootstrap.min.js"></script>
</body>
</html>
