<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Margarita</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="static/css/bootstrap.min.css" rel="stylesheet">
	<style>
		body {
			padding-top: 60px;
		}
	</style>
	<link href="static/css/bootstrap-responsive.min.css" rel="stylesheet">

	<script src="static/js/json2.js"></script>
	<script src="static/js/jquery.min.js"></script>

	<script>
$(document).ready(function(){

/*
    $('#newbranchbtn').click(function() {
	var branchname = $('#branchname').val();
	$.post("new_branch/" + branchname, function() {
	    refresh_updates_table();
	}, 'json');
	$('#branchname').val('');
    });

    $('#refbtn').click(function() {
	refresh_updates_table();
    });

    refresh_updates_table();
    
	$('tbody#swupdates')
	.ajaxStart(function() { $(this).hide(); })
	.ajaxStop( function() { $(this).show(); })
	;

	$("div#progressBar")
	.ajaxStart(function() { $(this).show(); })
	.ajaxStop( function() { $(this).hide(); })
	;

	$('a#toggleHide').click(function() {
		if (hideCommonlyListed) {
			$('i', this).removeClass('icon-ok');
			hideCommonlyListed = false;
			refresh_updates_table();
		} else {
			$('i', this).addClass('icon-ok');
			hideCommonlyListed = true;
			refresh_updates_table();
		}
	});
*/
    

	var ASWUPDProduct = Backbone.Model.extend({
/*		defaults: {
			depr: false,
			PostDate: null,
			id: null,
			version: null,
			title: null,
		}
*/	
		initialize: function() {
			if (!this.get('branches')) {
				this.set({branches: new Array()});
			}
		}
	});

	var ASWUPDProductCollection = Backbone.Collection.extend({
		model: ASWUPDProduct,
		url: 'products',
		initialize: function() {
			this.bind('reset', this.loadBranches);
		},
		loadBranches: function() {
			// to load branches and branch updates
			console.log("after_reset: loadbranches!")
		},
	})

	var Branch = Backbone.Model.extend({});

	var BranchCollection = Backbone.Collection.extend({
		model: Branch,
		url: 'branches',
	});

	//////////////

	var FilterCriteria = Backbone.Model.extend({
		defaults: {
			hideCommon: true,
		}
	});

	filterCriteria = new FilterCriteria();

	//////////////

	var QueuedChangesButtonView = Backbone.Marionette.ItemView.extend({
		tagName: 'a',
		attributes: {
			'href': '#',
			'onClick': 'submit_queue();',
		},
		template: "#queuedChangesBtnViewTpl"
	});

	var ToggleHideCommonButtonView = Backbone.Marionette.ItemView.extend({
		tagName: 'a',
		events: {
			'click': 'click',
		},
		template: '#toggleHideCommonBtnViewTpl',
		initialize: function() {
			this.model.bind('change', this.render, this);
		},
		click: function() {
			// toggle the hide common flag
			this.model.set('hideCommon', !this.model.get('hideCommon'));
		},
	});

	var NavbarLayout = Backbone.Marionette.Layout.extend({
		template: "#navbarLayout",

		regions: {
			queuedChangesButton: "#queuedChangesButtonViewRegion",
			toggleHideCommonButton: "#toggleHideCommonButtonViewRegion"
		}
	});

	//////////////////

	var UpdateView = Backbone.Marionette.ItemView.extend({
		tagName: 'tr',
		template: '#update-row',
	});

	var UpdatesTableView = Backbone.Marionette.CompositeView.extend({
		tagName: 'table',
		className: 'table table-striped',
		template: '#update-table',
		itemView: UpdateView,
		initialize: function() {
			this.options.filterCriteria.bind('change', this.render, this);
		},
		appendHtml: function(collectionView, itemView) {
			if (this.options.filterCriteria.get('hideCommon') == false || (this.options.filterCriteria.get('hideCommon') == true && itemView.model.get('depr') == true)) {
				collectionView.$("tbody").append(itemView.el);
			}
		}
	});

	var ProgressBarView = Backbone.Marionette.ItemView.extend({
		className: 'span4 offset4',
		template: '#span12-progress-bar',
	});

	//////////////////

	MargaritaApp = new Backbone.Marionette.Application();

	MargaritaApp.addRegions({
		navbarRegion: "#navbarRegion",
		updates: '#updates',
	});

	var products = new ASWUPDProductCollection();
	var branches = new BranchCollection();
	var updateTableView = new UpdatesTableView({
		collection: products,
		filterCriteria: filterCriteria,
	});

	MargaritaApp.vent.on('updatedProducts', function() {
		console.log("Updated products event triggered; showing update table");
		MargaritaApp.updates.show(updateTableView);
	});

	MargaritaApp.addInitializer(function() {
		navbar = new NavbarLayout();
		MargaritaApp.navbarRegion.show(navbar);

		// XXX: maybe defer until updates loaded (to prevent modifications)?
		navbar.queuedChangesButton.show(new QueuedChangesButtonView());
		navbar.toggleHideCommonButton.show(new ToggleHideCommonButtonView({model: filterCriteria}));

		MargaritaApp.updates.show(new ProgressBarView());

		products.fetch({
			success: function(prodCol) {
				console.log("Products: " + prodCol.length.toString());

				branches.fetch({
					success: function(branchCol) {
					console.log("Branches: " + branchCol.length.toString());

						// loop through products
						prodCol.each(function(prod) {
							prodId = prod.get('id');

							// loop through branches for this product
							// assembling an array that looks like ["branch1",
							// null, "branch2"] depending on product branch
							// inclusion. Note that the order is important
							// as the view columns are defined define by it
							branchCol.each(function(branch) {
								branchName = branch.get('name');
								prodArr = branch.get('products');

								prodBranches = prod.get('branches');
								if (prodBranches == undefined) {
									prodBranches = new Array();
								}

								if (prodArr.indexOf(prodId) != -1) {
									prodBranches.push(branchName);
								} else {
									prodBranches.push(null);
								}

								prod.set('branches', prodBranches);
							});
						});

						MargaritaApp.vent.trigger('updatedProducts');
					},
				});
			}
		});


	});


	MargaritaApp.start();
});
	</script>
</head>
<body>

<div id="navbarRegion"></div>

<script id="navbarLayout" type="text/html">
<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>

			<span class="brand">Margarita</span>

			<div class="nav-collapse">
				<ul class="nav">
					<li id="queuedChangesButtonViewRegion"></li>
					<li id="toggleHideCommonButtonViewRegion"></li>
				</ul>
			</div>
		</div>
	</div>
</div>
</script>

<script id="queuedChangesBtnViewTpl" type="text/html">
<span>Apply queued changes <span id="queueCount" class="badge badge-inverse">0</span></span>
</script>

<script id="toggleHideCommonBtnViewTpl" type="text/template">
<i class="icon-white<% if (hideCommon) { %> icon-ok<% } %>"></i> <span>Hide commonly listed updates</span>
</script>

<script id="update-table" type="text/html">
<thead>
<tr>
	<th>Software Update Product</th>
	<th>Version</th>
	<th>Post Date</th>
	<th>Apple branch</th>
</tr>
</thead>
<tbody></tbody>
</script>

<script id="span12-progress-bar" type="text/html">
<div class="progress progress-striped active">
	<div class="bar" style="width: 100%;"></div>
</div>
</script>

<script id="update-row" type="text/template">
<td>
	<span title="Product ID: <%= id %>"><%= title %></span>
	<% if (depr) { %>
		<span class="label label-warning">Deprecated</span>
	<% } %>
</td>
<td><%= version %></td>
<td><%= PostDate %></td>
<td>
<% if (depr) { %>
	<button disabled class="btn btn-mini disabled">
		<i class="icon-remove icon-white"></i> Unlisted
	</button>
<% } else { %>
	<button disabled class="btn btn-mini btn-primary disabled">
		<i class="icon-ok icon-white"></i> Listed
	</button>
<% } %>
</td>

<% _.each(branches, function(b) { %>

<td>
<% if (b) { %>
	<button class="btn btn-mini btn-success">
	<i class="icon-ok icon-white"></i> <span>Listed</span>
	</button>
<% } else { %>
	<button class="btn btn-mini">
	<i class="icon-remove"></i> <span>Unlisted</span>
	</button>
<% } %>
</td>

<% }) %>

</script>

<div class="container">
	<div id="updates"></div>

	<hr></hr>

<div style="text-align:right;" class="well form-inline">
  <input type="text" id="branchname" class="input-medium" placeholder="New branch name...">
  <button id="newbranchbtn" class="btn btn-primary">Create New Branch</button>
</div>

</div>

	<script src="static/js/underscore-min.js"></script>
	<script src="static/js/backbone-min.js"></script>
	<script src="static/js/backbone.eventbinder.js"></script>
	<script src="static/js/backbone.wreqr.js"></script>
	<script src="static/js/backbone.marionette.min.js"></script>
	<script src="static/js/margarita.js"></script>
	<script src="static/js/bootstrap.min.js"></script>
</body>
</html>
